.form-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    width: 650px;
    height: 300px;
    border-top: 4px solid #00376A;
}

.form-container p {
    margin-bottom: 1rem;
    color: #00376A;
    font-size: 2.4rem;
    margin-top: 15px;
}

.btn {
    width: 350px;
    height: 60px;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-login {
    background-color: #ffffff;
    color: #00376A;
    border: 2px solid #0000002a;
    margin-top: 20px;
}

.btn-login:hover {
    background-color: #00000010;
}

.btn-register {
    background-color: #00376A;
    color: #ffffff;
    margin-top: 20px;
}

.btn-register:hover {
    background-color: #00376ab0;
}


