{% extends 'base_login.html' %}
{% block title %}CarMind-Login{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}

    
<div class="form-container">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </div>
        <div class="form-group">
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                    {{ message }}
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <div class="form">
            {{ form.submit(class="btn btn-enter") }}
        </div>
    </form>
</div>
{% endblock %}
