{% extends 'base_login.html' %}
{% block title %}CarMind-Start{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/start.css') }}">
{% endblock %}

{% block content %}
<div class="form-container">
    <P>Bem-vindo ao CarMind<p>
    <div class="form-group">
        <a href="{{ url_for('user.login') }}">
            <button class="btn btn-login">Login</button>
        </a>
        <a href="{{ url_for('register') }}">
            <button class="btn btn-register">Cadastrar</button>
        </a>
    </div>
</div>
{% endblock %}
